* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
 
}

ul, li  {
  list-style-type: none;
}

h2 {
  color: #2E2F42;
  
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: 0.96px;
}
.list-style {
color: #2E2F42;
 font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
    height: 40px;
    padding-left: 16px;
    margin-bottom: 8px;
    display: grid;
      align-items: center;
}

.gallery {
  display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
   
.login-form {
     width: 408px;
      margin-left: auto; 
      margin-right: auto;
     }

     .change-color,
     .destroy {
border-radius: 8px;
        background: #4E75FF;
         color: white;
         font-family: Montserrat;
         font-weight: 500;
         line-height: 1.5;
         letter-spacing: 0.04em;
         padding: 8px 16px;
         height: 40px;
         border: none;
     }
     .destroy {
     background: #FF4E4E;
     }
         .change-color:hover,
         .change-color:focus {
           background-color: #6C8CFF;
         }

         .destroy:hover,
         .destroy:focus {
                      background-color: #FF7070;
                    }

     .widget {
      text-align: center;
     }

     .label-wrapper {
      display: flex;
      flex-direction: column;
     }
     .input_style{
      display: block;
      width: 360px;
        height: 40px;
        border-radius: 4px;
          border: 1px solid #808080;
     }

     .label_style{
      margin-bottom: 8px;
      color: #2E2F42;
       font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
     }

            #boxes {
              display: flex;
              flex-wrap: wrap;
              background-color: #F6F6FE;
                border-radius: 8px;
                max-width: 70%;
                margin-right: auto;
                  margin-left: auto;
                  justify-content: center;
            }
      
            #boxes div {
              width: 30px;
              height: 30px;
              margin: 5px;
            }
                        .container {
                          display: flex;
                          align-items: center;
                            gap: 16px;
                            width: 486px;
                            height: 104px;
                            background-color: #F6F6FE;
                            border-radius: 8px;
margin-right: auto;
margin-left: auto;
                        }